
body {
  background-color: lightblue;
}

body {
  font-family: 'Lato', sans-serif;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  background-color: gray;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav a:hover {
  background-color: #111;
}

li {
  float: left;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  float: right;
  width: 50%;
}

.welcome-section p {
  text-align: center;
  font-size: 16px;
  padding-right: 15px;
}


/*@media (min-width: 350px;)
  body{
  background-color: blue;
}*/

#smaller-image {
  width: 200px;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
}

.projects-section-header {
/*  max-width: 640px;
  margin: 0 auto 6rem auto;*/
  text-align: center;
}

div a {
  text-decoration: none;
  box-shadow: 0 30px 20px rgba(0,0,0,0.19);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 30 auto;
  margin-bottom: 6rem;
  background-color: white;
}





