
body {
  background-color: lightblue;
}

body {
  font-family: 'Lato', sans-serif;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  background-color: gray;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav a:hover {
  background-color: #111;
}

li {
  float: left;
}

.welcome-section {
  display: flex;
  margin-top: 120px;
  flex-direction: row;
  width: auto;
}

.welcome-section img {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  padding-left: 50px;
}

div.welcome-section-p {
  max-width: 650px;
  max-height: 400px;
  font-size: 18px;
  flex-direction: column;
  padding-left: 150px;
}

/*@media (min-width: 350px;)
  body{
  background-color: blue;
}*/

/*#smaller-image {
  width: 200px;
}*/


.webdesign-section {
/*  text-align: center;*/
  padding: 10rem 2rem;
  align-content: center;
  border: 3px solid;
}

div.project-header {
/*  max-width: 640px;
  margin: 0 auto 6rem auto;*/
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

/*div a {
  text-decoration: none;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.19);
}*/

/*.projects-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
/*  margin: 30 auto;
  margin-bottom: 6rem;
  background-color: white;
  text-align: center;*/
}

div.project-section {
  width: 250px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

div.container {
  padding: 10px;
  background-color: white;
}

.project-tile {
/*  text-align: center;*/
}





